.debug {
	border: 1px solid blue;
}
/* class for checking element placement and sizes */

a {

	color: blue;
}

a:visited {
	color: purple;
}

html {
	background-color:#ffffff;
}

span {
	font-size: 0.6em;
	text-decoration: none;

}


h1 {
	text-align: center;
}

td {
	vertical-align: top;
}

.break{
	display: block;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

table {
	margin-top: 0px;
	margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 100px;
}

.fs{
	font-size: 0.6em;
}
.fm{
	font-size: 0.8em;
}

.hline { 
	width:100%; 
	height:1px; 
	background: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
	color:navy;
}

.margin-sm {
	margin-top: 10px;
	margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 

    What is important to know when linking an external file (like a stylesheet) to an HTML file?
	-It is important to know to insert the link in the <head> tag, with the format, <link rel="stylesheet" href="pathlocation">	

    What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
	-It is helpful to use classes for the margins, and set appropriate margins to help with the proper spacing.  Relative positioning is also useful.

    What CSS did you use to modify the element style (like size, color, etc.)
    Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to your HTML?
	-I modified the HTML to include classes.  I chose classes because I used them more than once.  ID's are designed to only be used once, which is how you would know to add ID's to your HTML.

    When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
    -According to what I have learned from DBC so far, I'd have to say that my code is cleaner with better practices.
    I use a separate stylesheet for css, which makes it better for organization.  When the styling is done on the HTML sheet, it looks messy.
*/